<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 2</title>
</head>
<body>
<!--
    Feel free to make changes to this HTML but do no change the option in select
-->

<h1>Shipping Address</h1>

<form>
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{shipping.name}">
                <div data-th-if="${#fields.hasErrors('shipping.name')}">
                    <span data-th-errors="*{shipping.name}" data-th-errorclass="error"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <input type="text" th:field="*{shipping.address}">
                <div data-th-if="${#fields.hasErrors('shipping.address')}">
                    <span data-th-errors="*{shipping.address}" data-th-errorclass="error"></span>
                </div>
            </td>
        </tr>
    </table>
    <div>
        <button type="submit" formmethod="GET" formaction="/">Back</button>
        <button type="submit" formmethod="POST" formaction="/quote">Checkout</button>
    </div>
</form>

</body>
</html>